<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WebFrameworksDB" connectionString="metadata=res://*/WebFrameworksDB.csdl|res://*/WebFrameworksDB.ssdl|res://*/WebFrameworksDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LUNING-PC;initial catalog=WebFrameworksDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>