USE [master]
GO
/****** Object:  Database [WebFrameworksDB]    Script Date: 08/02/2016 18:19:10 ******/
CREATE DATABASE [WebFrameworksDB] ON  PRIMARY 
( NAME = N'WebFrameworksDB', FILENAME = N'd:\mcgrady\db\WebFrameworksDB.mdf' , SIZE = 4096KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebFrameworksDB_log', FILENAME = N'd:\mcgrady\db\WebFrameworksDB_log.LDF' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebFrameworksDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebFrameworksDB]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (2, 2, 1)
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
/****** Object:  Table [dbo].[UserDepartment]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_UserDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserDepartment] ON
INSERT [dbo].[UserDepartment] ([Id], [UserId], [DepartmentId]) VALUES (1, 1, 1)
INSERT [dbo].[UserDepartment] ([Id], [UserId], [DepartmentId]) VALUES (2, 2, 8)
INSERT [dbo].[UserDepartment] ([Id], [UserId], [DepartmentId]) VALUES (3, 3, 11)
SET IDENTITY_INSERT [dbo].[UserDepartment] OFF
/****** Object:  Table [dbo].[User]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](30) NOT NULL,
	[UserPwd] [nvarchar](32) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[Enabled] [bit] NULL,
	[IsChangePwd] [bit] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](30) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](30) NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [UserId], [UserPwd], [UserName], [Enabled], [IsChangePwd], [Description], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'系统管理员', 1, 1, N'系统管理员有最高权限', N'admin', CAST(0x0000A65001178843 AS DateTime), NULL, NULL)
INSERT [dbo].[User] ([Id], [UserId], [UserPwd], [UserName], [Enabled], [IsChangePwd], [Description], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (2, N'luning', N'202cb962ac59075b964b07152d234b70', N'鲁宁', 1, 0, N'', N'鲁宁的帐号', CAST(0x0000A65001178843 AS DateTime), NULL, NULL)
INSERT [dbo].[User] ([Id], [UserId], [UserPwd], [UserName], [Enabled], [IsChangePwd], [Description], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (3, N'test', N'202cb962ac59075b964b07152d234b70', N'测试帐号', 1, 0, N'测试的帐号', N'admin', CAST(0x0000A65001178843 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[RoleMenuButton]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuButton](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[ButtonId] [int] NOT NULL,
 CONSTRAINT [PK_RoleMenuButton] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoleMenuButton] ON
INSERT [dbo].[RoleMenuButton] ([Id], [RoleId], [MenuId], [ButtonId]) VALUES (1, 1, 6, 1)
INSERT [dbo].[RoleMenuButton] ([Id], [RoleId], [MenuId], [ButtonId]) VALUES (2, 1, 7, 1)
INSERT [dbo].[RoleMenuButton] ([Id], [RoleId], [MenuId], [ButtonId]) VALUES (3, 1, 8, 1)
SET IDENTITY_INSERT [dbo].[RoleMenuButton] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](30) NULL,
	[CreatedTime] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](30) NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [Name], [Description], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (1, N'超级管理员', N'超级管理员有最高权限', N'admin', CAST(0x0000A651002F6DCC AS DateTime), NULL, NULL)
INSERT [dbo].[Role] ([Id], [Name], [Description], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (2, N'研发部主管', N'研发部主管的角色', N'admin', CAST(0x0000A651002F6DCC AS DateTime), NULL, NULL)
INSERT [dbo].[Role] ([Id], [Name], [Description], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (3, N'客服部主管', N'客服部主管的角色', N'admin', CAST(0x0000A651002F6DCC AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[MenuButton]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuButton](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[ButtonId] [int] NOT NULL,
 CONSTRAINT [PK_MenuButton] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuButton] ON
INSERT [dbo].[MenuButton] ([Id], [MenuId], [ButtonId]) VALUES (1, 5, 1)
INSERT [dbo].[MenuButton] ([Id], [MenuId], [ButtonId]) VALUES (2, 6, 1)
INSERT [dbo].[MenuButton] ([Id], [MenuId], [ButtonId]) VALUES (3, 7, 1)
SET IDENTITY_INSERT [dbo].[MenuButton] OFF
/****** Object:  Table [dbo].[Menu]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Code] [nvarchar](30) NULL,
	[Url] [nvarchar](100) NULL,
	[Icon] [nvarchar](50) NULL,
	[Sort] [int] NULL,
	[CreatedBy] [nvarchar](30) NULL,
	[CreatedTime] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](30) NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([Id], [ParentId], [Name], [Code], [Url], [Icon], [Sort], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (1, 0, N'系统管理', NULL, N'#', N'icon-cog', 1, N'admin', CAST(0x0000A65100317298 AS DateTime), NULL, NULL)
INSERT [dbo].[Menu] ([Id], [ParentId], [Name], [Code], [Url], [Icon], [Sort], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (2, 0, N'其它', NULL, N'#', N'icon-cog', 2, N'admin', CAST(0x0000A65100317298 AS DateTime), NULL, NULL)
INSERT [dbo].[Menu] ([Id], [ParentId], [Name], [Code], [Url], [Icon], [Sort], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (3, 1, N'权限管理', NULL, N'#', N'icon-cog', 1, N'admin', CAST(0x0000A65100317298 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[Department]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentId] [int] NOT NULL,
	[CorporationId] [int] NOT NULL,
	[Sort] [int] NULL,
	[Enabled] [bit] NULL,
	[CreatedBy] [nvarchar](30) NULL,
	[CreatedTime] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](30) NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON
INSERT [dbo].[Department] ([Id], [Code], [Name], [ParentId], [CorporationId], [Sort], [Enabled], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (1, N'01', N'总经办', 0, 5, 1, 1, N'admin', CAST(0x0000A651002C3F58 AS DateTime), NULL, NULL)
INSERT [dbo].[Department] ([Id], [Code], [Name], [ParentId], [CorporationId], [Sort], [Enabled], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (2, N'02', N'人力资源部', 0, 5, 2, 1, N'admin', CAST(0x0000A651002C3F58 AS DateTime), NULL, NULL)
INSERT [dbo].[Department] ([Id], [Code], [Name], [ParentId], [CorporationId], [Sort], [Enabled], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (3, N'03', N'研发部', 0, 5, 3, 1, N'admin', CAST(0x0000A651002C3F58 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
/****** Object:  Table [dbo].[Corporation]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Corporation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Sort] [int] NULL,
	[Enabled] [bit] NULL,
	[CreatedBy] [nvarchar](30) NULL,
	[CreatedTime] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](30) NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_Corporation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Corporation] ON
INSERT [dbo].[Corporation] ([Id], [Code], [Name], [ParentId], [Sort], [Enabled], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (1, N'01', N'携瑞集团', 0, 1, 1, N'admin', CAST(0x0000A65000A7F9F4 AS DateTime), NULL, NULL)
INSERT [dbo].[Corporation] ([Id], [Code], [Name], [ParentId], [Sort], [Enabled], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (2, N'0101', N'北京分公司', 1, 2, 1, N'admin', CAST(0x0000A65000A7F9F4 AS DateTime), NULL, NULL)
INSERT [dbo].[Corporation] ([Id], [Code], [Name], [ParentId], [Sort], [Enabled], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (3, N'0102', N'上海分公司', 1, 3, 1, N'admin', CAST(0x0000A65000A7F9F4 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Corporation] OFF
/****** Object:  Table [dbo].[Button]    Script Date: 08/02/2016 18:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Button](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[Icon] [nvarchar](50) NULL,
	[Sort] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedTime] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_Button] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Button] ON
INSERT [dbo].[Button] ([Id], [Name], [Code], [Icon], [Sort], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (1, N'浏览', N'browser', N'icon-eye', 1, N'admin', CAST(0x0000A651003CA62C AS DateTime), NULL, NULL)
INSERT [dbo].[Button] ([Id], [Name], [Code], [Icon], [Sort], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (2, N'添加', N'add', N'icon-add', 2, N'admin', CAST(0x0000A651003CA62C AS DateTime), NULL, NULL)
INSERT [dbo].[Button] ([Id], [Name], [Code], [Icon], [Sort], [CreatedBy], [CreatedTime], [LastUpdatedBy], [LastUpdatedTime]) VALUES (3, N'修改', N'edit', N'icon-application_edit', 3, N'admin', CAST(0x0000A651003CA62C AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Button] OFF
