body {
    font-size: 12px;
    font-family: Verdana,宋体,Tahoma;
    padding: 0px;
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}
table {
    border-collapse:collapse;
    border:none;
}

a {
    color: Black;
    text-decoration: none;
}

a:hover {
        color: Red;
        text-decoration: underline;
    }

img {
    border: 0px;
}


/*登录页*/
#win {
    width:300px;
    height:180px;
    text-align:center;
}

#LoginTable {
    margin:15px;
    line-height:250%;
}
