@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="image/x-icon" rel="shortcut icon" href="~/Content/images/favicon.ico" />
    @Styles.Render("~/Content/easyui/bootstrap")
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")
    <script type="text/javascript" src="~/Scripts/common.js"></script>
    <script type="text/javascript" src="~/Scripts/init.js"></script>
    <title>首页</title>
</head>
<body class="easyui-layout">
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px;
            width: 100%; background: white; text-align: center;">
            <h1>
                必须打开浏览器javascript支持！！！
            </h1>
        </div>
    </noscript>
    <div data-options="region:'north',border:false" style="height: 60px; background: #B3DFDA; padding: 10px; font-size: xx-large">
        后台管理
        <div style="position: absolute; right: 5px; top: 10px;" id="div_welcome">
        </div>
        <div style="position: absolute; right: 0px; bottom: 0px;">
            <a href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-boss'"
               onclick="searchMyInfo();">我的信息</a><a href="javascript:void(0);" class="easyui-linkbutton"
                                                    data-options="plain:true,iconCls:'icon-set1'" onclick="changePwd();">修改密码</a><a href="javascript:void(0);"
                                                                                                                                    class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-stop'" onclick="loginOut();">退出系统</a>
        </div>
    </div>
    <div data-options="region:'west',split:true,title:'功能导航'" style="width: 180px; padding: 10px;">
        <div>
            <ul id="treeLeft"></ul>
        </div>
    </div>
    <div data-options="region:'center'">
        <div id="tabs" class="easyui-tabs" fit="true" border="false" data-options="
                    tools:[
                    {iconCls : 'icon-arrow_refresh',text:'刷新',handler:refreshTab},
                    {iconCls : 'icon-delete3',text:'关闭全部',handler:closeTab}
                    ]">
        </div>
    </div>

    @if (false)
    {
        <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    }
    <script type="text/javascript">



    </script>
</body>
</html>
